.event-title {
  font-size: 4em; 
  color: bisque; 
  font-weight: bold; 
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7); 
  margin-bottom: 30px; 
  transition: transform 0.3s ease; 
}

.event-title:hover {
  transform: scale(1.05); 
}

.info h2 {
  color: bisque; 
  margin-top: 20px; 
}

.text-content p {
  color: #e0e0e0; 
}

.event-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.info {
  display: flex; 
  align-items: flex-start; 
  margin: 20px;
}

.event-image {
  margin-top: 30px;
  width: 350px; 
  height: auto;
  margin-left: 20px; 
  border-radius: 15px; 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4); 
  transition: transform 0.3s ease; 
}

.event-image:hover {
  transform: scale(1.05); 
}

.text-content {
  max-width: 600px; 
}

.image-container {
  display: flex;
  flex-direction: column; 
}
