.header {
  padding: 20px;
  background-color: #3a3a3c; 
  color: #ffffff; 
  border-bottom: 3px solid bisque; 
}

.header h1 {
  font-size: 36px;
  margin: 0; 
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.header p {
  font-size: 18px;
  color: bisque; 
}
